   
        <h3 class="contact_heading">
            CONTACTS
    </h3>
        
    <div id="contacts-block" >
            
            <ul *ngFor="let contact of allContacts" 
                 [ngClass]="{'contact_details':true, 'active_contact':(contact.id==activeContactId)}"  
                 (click)="showid(contact.id)">
                                   <li id="contact-name">{{contact.name}}</li>
                                   <li id='phone-number'>{{contact.mobile}}</li>
                                    <li id='mail-id'>{{contact.email}}</li>
            </ul>
        
    </div>
   
