
           <div class="display_contact" id="display-contact">
            <h3 id="d-name">{{activeContactData.name}}</h3>
            <ul>
                <li >Email:  <span id='d-email'>{{activeContactData.email}}</span></li>
                <li >Mobile:<span id="d-mobile">{{activeContactData.mobile}}</span></li>
                <li >Landline:<span id="d-landline">{{activeContactData.landline}}</span></li>
                <li >Website:<span id="d-website">{{activeContactData.website}}</span></li>
                <li>Address: <span id="d-address">{{activeContactData.address}}</span></li>
            </ul>
        </div>
