


<div class="row">


    <div class="col-sm-2">

        <app-allcontactsview *ngIf="!this.isempty"></app-allcontactsview>

    </div>


    <div class="col-sm-4">
        
        <app-contactsform
                  *ngIf="this.showEditForm" 
                  [showeditform]="showEditForm" 
                  (showeditformChange)="showEditForm=$event" 
                   [displayicons]="displayicons" 
                   (displayiconsChange)="displayicons=$displayicons">
        </app-contactsform>

       <app-activecontactview 
                  *ngIf="!this.showEditForm && !this.isempty ">
        </app-activecontactview>

       <div *ngIf="this.isempty" >
                <p style="text-align:center"><img  class="empty-img" src="./assets/search1.png" alt=""></p>       
       </div>

    </div>

    <div class="col-sm-6" 
            *ngIf="!this.isempty && !showEditForm">

        <div class="actions" id="actions">

            <span href="" id="edit_action" (click)="editfunc()">
                <img src="./assets/Edit-icon.png" alt="" height="17px">
                <span id="edit">EDIT</span>
            </span> 

             <span href="" id="delete_action" (click)="deletefunc()">
                 <img src="./assets/delete2.png" alt="">
                 <span id="delete">DELETE</span>
             </span>

         </div>

         
    </div>
    
</div>



